<mat-card>
    <mat-card-header>
        <mat-card-title>chw Details</mat-card-title>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
        <div class="details">
            <div class="sub-details">
                <div>
                    <span>First Name: {{chwData?.first_name}}</span>
                </div>
                <div>
                    <span>Middle Name: {{chwData?.middle_name}}</span>
                </div>
                <div>
                    <span>Last Name: {{chwData?.last_name}}</span>
                </div>
                <div>
                    <span>Position: {{chwData?.position}}</span>
                </div>
                <div>
                    <span>Date joined: {{chwData?.date_joined}}</span>
                </div>
            </div>
            <div class="sub-details">
                <div>
                    <span>Status: {{chwData?.status}}</span>
                </div>
                <div>
                    <span>Tel: {{chwData?.tel}}</span>
                </div>
                <div>
                    <span>Email: {{chwData?.email}}</span>
                </div>
            </div>
            <div class="sub-details">
                <img matCardImage  alt="Photo of a Shiba Inu">
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="editchw(chwData.id)">Edit</button>
        
    </mat-card-actions>
</mat-card>